<div *ngIf="fair==null">
  <mat-card>Set up a new fair!</mat-card>
  <mat-card><mat-horizontal-stepper linear #stepper>
    <mat-step>
      <ng-template matStepLabel>Basic information</ng-template>
      <div>
        <div>
          <button mat-stroked-button type="button" (click)="pdfPicker.click()">Pick json</button>
          <input [hidden]="'true'" type="file" #pdfPicker (change)="onFirstJson($event)">
        </div>
        <div *ngIf="!firstStepValid">
          <p [style.color]="'red'">Bad json file</p>
        </div>
      </div>
      <mat-card *ngIf="firstStep != null">
        <mat-card *ngFor="let elem of firstStep.Fairs">
          <p>Fairs:</p>
          <p>
            Fair: {{ elem.Fair }}<br>
            StartDate: {{ elem.StartDate | date: 'dd/MM/yyyy' }}<br>
            EndDate: {{ elem.EndDate | date: 'dd/MM/yyyy' }} <br>
            StartTime: {{ elem.StartTime }}<br>
            EndTime: {{ elem.EndTime }}<br>
            Place: {{ elem.Place }} <br>
            About: {{ elem.About }}
          </p>
        </mat-card>
        <mat-card *ngFor="let elem of firstStep.Locations">
          <p>Locations:</p>
          <p>
            Place: {{ elem.Place }}<br>
            Location:
            <span *ngFor="let name of elem.Location; let last = last;">
              {{ name.Name }}{{ last ? '': ', ' }}
            </span>
          </p>
        </mat-card>
      </mat-card>
      <div>
        <button mat-raised-button color="primary" matStepperNext
        [disabled]="firstStep == null || !firstStepValid">Next</button>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>More details</ng-template>
      <form [formGroup]="imagesForm" novalidate>
        <mat-card>
          <div>
            <button mat-stroked-button type="button" (click)="logoPicker.click()">Pick logo</button>
            <input type="file" #logoPicker (change)="onLogoPick($event)">
          </div>
          <div class="image-preview" *ngIf="logoImage && logoImage != null && imagesForm.get('logo').valid">
            <img [src]="logoImage" [alt]="'Logo'">
          </div>
        </mat-card>
        <mat-card formArrayName="additional">
          <div *ngFor="let wrk of imagesForm.controls['additional'].controls; let i = index;">
            <mat-card>
              <div>
                <button mat-stroked-button type="button" (click)="additionalPicker.click()">Pick image</button>
                <input type="file" #additionalPicker (change)="onAdditionalPick($event, i)">
              </div>
              <div
                class="image-preview"
                *ngIf="additionalImages[i] && additionalImages[i] != null">
                <img [src]="additionalImages[i]" [alt]="'Logo'">
              </div>
              <button mat-raised-button type="button" color="primary" (click)="removeImage(i)">
                Remove
              </button>
            </mat-card>
          </div>
          <button mat-raised-button type="button" color="primary" (click)="addImage()">
            Add additional image
          </button>
        </mat-card>
      </form>
      <mat-card>A full timetable???????</mat-card>
      <div>
        <button mat-raised-button color="primary" matStepperPrevious>Back</button>
        <button mat-raised-button color="primary" matStepperNext>Next</button>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Offered packags</ng-template>
      <button mat-button color="primary" (click)="s3Dummy()">Dummy</button>
      <mat-card *ngIf="thirdStep == null">Uploaded info</mat-card>
      <mat-card *ngIf="thirdStep != null">
        <mat-card>
          <p>Packages:</p>
          <p *ngFor="let elem of thirdStep.Packages">
            Title: {{ elem.Title }}<br>
            Content:
            <span *ngFor="let name of elem.Content; let last = last;">
              {{ name }}{{ last ? '': ', ' }}
            </span><br>
            VideoPromotion: {{ elem.VideoPromotion }} <br>
            NoLessons: {{ elem.NoLessons }}<br>
            NoWorkshops: {{ elem.NoWorkchops }}<br>
            Price: {{ elem.Price }} <br>
            MaxCompanies: {{ elem.MaxCompanies }}
          </p>
        </mat-card>
        <mat-card>
          <p>Additional:</p>
          <p *ngFor="let elem of thirdStep.Additional">
            Title: {{ elem.Title }}<br>
            Price: {{ elem.Price }}
          </p>
        </mat-card>
      </mat-card>
      <div>
        <button mat-raised-button color="primary" matStepperPrevious>Back</button>
        <button mat-raised-button color="primary" matStepperNext>Next</button>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Confirmation</ng-template>
      <mat-card>All of the info</mat-card>
      <div>
        <button mat-raised-button color="primary" matStepperPrevious>Back</button>
        <button mat-raised-button color="accent" (click)="confirmInit()">Confirm</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper></mat-card>
</div>

<div *ngIf="fair!=null">
  <mat-card>
    Manage the fair!
    <button mat-button color="primary" (click)="toAcceptDummy()">Dummy</button>
  </mat-card>
  <mat-accordion>
    <mat-expansion-panel *ngFor="let com of appliedComs; let i = index;">
      <mat-expansion-panel-header>
        <mat-panel-title>{{ com.name }}</mat-panel-title>
      </mat-expansion-panel-header>
      <p>
        Package: {{ com.package }}<br>
        Options:
        <span *ngFor="let opt of com.options; let last = last;">
          {{ opt }}{{ last ? '': ', ' }}
        </span>
      </p>
      <button mat-raised-button color="accent" (click)="openedForm = i;">Accept</button>
      <button mat-raised-button color="warn" (click)="onRejectCom(i)">Reject</button><br>
      <mat-card *ngIf="openedForm === i">
        <mat-form-field>
          <input matInput type="number" placeholder="Stand number" #stand>
        </mat-form-field>
        <button mat-raised-button color="accent" (click)="onAcceptCom(i, stand)">Accept</button>
      </mat-card>
    </mat-expansion-panel>
  </mat-accordion>
  <mat-card *ngIf="appliedComs == null || appliedComs.length === 0">No companies waiting for application approval!</mat-card>
</div>

<mat-card>
  <form [formGroup]="dateForm" (ngSubmit)="onDatesChange()" novalidate>
    <mat-form-field style="width: 8rem; margin-right: 1rem;">
      <input matInput [matDatepicker]="ssPicker" formControlName="studentStart" placeholder="Student start date">
      <mat-datepicker-toggle matSuffix [for]="ssPicker"></mat-datepicker-toggle>
      <mat-datepicker #ssPicker></mat-datepicker>
    </mat-form-field>
    <mat-form-field style="width: 8rem; margin-right: 1rem;">
      <input matInput [matDatepicker]="sePicker" formControlName="studentEnd" placeholder="Student end date">
      <mat-datepicker-toggle matSuffix [for]="sePicker"></mat-datepicker-toggle>
      <mat-datepicker #sePicker></mat-datepicker>
    </mat-form-field>
    <mat-form-field style="width: 8rem; margin-right: 1rem;">
      <input matInput [matDatepicker]="csPicker" formControlName="companyStart" placeholder="Company start date">
      <mat-datepicker-toggle matSuffix [for]="csPicker"></mat-datepicker-toggle>
      <mat-datepicker #csPicker></mat-datepicker>
    </mat-form-field>
    <mat-form-field style="width: 8rem; margin-right: 1rem;">
      <input matInput [matDatepicker]="cePicker" formControlName="companyEnd" placeholder="Company end date">
      <mat-datepicker-toggle matSuffix [for]="cePicker"></mat-datepicker-toggle>
      <mat-datepicker #cePicker></mat-datepicker>
    </mat-form-field>
    <button
      mat-raised-button
      color="accent"
      [disabled]="!dateForm.valid"
      type="submit">
      Change dates
    </button>
    <span>{{ deadlineUpdateMessage }}</span>
  </form>
</mat-card>
