<mat-card>
  <form [formGroup]="resetPassForm" (ngSubmit)="onResetPass()" novalidate>
    <mat-form-field>
      <input
        matInput
        type="text"
        formControlName="username"
        placeholder="Username">
      <mat-error *ngIf="resetPassForm.controls['username'].hasError('required')">
        Please enter your username.
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        type="password"
        formControlName="password"
        placeholder="Password">
      <mat-error *ngIf="resetPassForm.controls['password'].hasError('required')">
        Please enter your password.
      </mat-error>
      <mat-error *ngIf="resetPassForm.controls['password'].hasError('minlength')">
        Password too short.
      </mat-error>
      <mat-error *ngIf="resetPassForm.controls['password'].hasError('maxlength')">
        Password too long.
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        type="password"
        formControlName="newPass1"
        placeholder="Password">
      <mat-error *ngIf="resetPassForm.controls['newPass1'].hasError('required')">
        Please enter your password.
      </mat-error>
      <mat-error *ngIf="resetPassForm.controls['newPass1'].hasError('minlength')">
        Password too short.
      </mat-error>
      <mat-error *ngIf="resetPassForm.controls['newPass1'].hasError('maxlength')">
        Password too long.
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        type="password"
        formControlName="newPass2"
        placeholder="Password">
      <mat-error *ngIf="resetPassForm.controls['newPass2'].hasError('required')">
        Please enter your password.
      </mat-error>
      <mat-error *ngIf="resetPassForm.controls['newPass2'].hasError('minlength')">
        Password too short.
      </mat-error>
      <mat-error *ngIf="resetPassForm.controls['newPass2'].hasError('maxlength')">
        Password too long.
      </mat-error>
    </mat-form-field>
    <button
      mat-raised-button
      color="accent"
      [disabled]="!resetPassForm.valid"
      type="submit">
      Reset password
    </button>
  </form>
</mat-card>
