<mat-card><span [style.color]="message.color">{{ message.text }}</span></mat-card>
<mat-card>
  <form [formGroup]="resetPassForm" (ngSubmit)="onResetPass()" novalidate>
    <mat-form-field>
      <input
        matInput
        type="text"
        formControlName="username"
        placeholder="Username">
      <mat-error *ngIf="resetPassForm.controls['username'].hasError('required')">
        Please enter your username.
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        type="password"
        formControlName="password"
        placeholder="Old password">
        <mat-error *ngIf="resetPassForm.controls['password'].hasError('checkPassword')">
          {{ resetPassForm.controls['password'].getError('checkPassword') }}
        </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        type="password"
        formControlName="newPass1"
        placeholder="New password">
        <mat-error *ngIf="resetPassForm.controls['newPass1'].hasError('checkPassword')">
          {{ resetPassForm.controls['newPass1'].getError('checkPassword') }}
        </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        type="password"
        formControlName="newPass2"
        placeholder="Repeat new password">
        <mat-error *ngIf="resetPassForm.controls['newPass2'].hasError('checkPassword')">
          {{ resetPassForm.controls['newPass2'].getError('checkPassword') }}
        </mat-error>
    </mat-form-field>
    <mat-error *ngIf="resetPassForm.hasError('passNoMatch')">
      {{ resetPassForm.getError('passNoMatch') }}
    </mat-error>
    <button
      mat-raised-button
      color="accent"
      [disabled]="!resetPassForm.valid"
      type="submit">
      Reset password
    </button>
  </form>
</mat-card>
