<mat-card>
  {{ message }}<br>
  <button mat-raised-button color="primary" (click)="onBack()">Back</button>
</mat-card>
<mat-card>
  <p>Company name: {{ com.com.name }}</p>
  <p>Position name: {{ con.name }}</p>
  <p>Position type: {{ getJobType(con.jobType) }}</p>
  <p>Description: {{ con.description }}</p>
</mat-card>
<mat-card>
  <form [formGroup]="applyForm" (ngSubmit)="onApply()" novalidate>
    <div style="width: 100%;">
      <mat-checkbox formControlName="coverLetterPdf" placeholder="Company name">
        Upload PDF
      </mat-checkbox>
    </div>
    <mat-form-field *ngIf="!applyForm.value.coverLetterType">
      <textarea
        matInput
        placeholder="Cover letter"
        formControlName="coverLetterText"
        rows="5">
      </textarea>
    </mat-form-field>
    <button mat-raised-button color="accent" [disabled]="!applyForm.valid" type="submit">Apply</button>
  </form>
</mat-card>
