<mat-card>Review your applicatin statuses!</mat-card>
<mat-card>

<mat-accordion *ngIf="concources != null && concources.length > 0">
  <mat-expansion-panel *ngFor="let con of concources; let i = index;">
    <mat-expansion-panel-header>
      <mat-panel-title>{{ con.name }}</mat-panel-title>
      <mat-panel-description>
        {{ con.name }}
      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-card>
      <p>{{ accMessage }}</p>
      <p>Accepted:
        <span *ngFor="let stu of con.applicants; let last = last;">
          <span *ngIf="stu.accepted">
            {{ stu.student.stu.firstName + ' ' + stu.student.stu.firstName }}
            {{ last ? '' : ', ' }}
          </span>
        </span>
      </p>
      <p>Declined:
        <span *ngFor="let stu of con.applicants; let last = last;">
          <span *ngIf="!stu.accepted">
            {{ stu.student.stu.firstName + ' ' + stu.student.stu.firstName }}
            {{ last ? '' : ', ' }}
          </span>
        </span>
      </p>
    </mat-card>

  </mat-expansion-panel>
</mat-accordion>
<mat-card *ngIf="concources === null || concources.length === 0">No applications found!</mat-card>
