<mat-card>Review your applicatin statuses!</mat-card>
<mat-card>

<mat-accordion *ngIf="concources != null && concources.length > 0">
  <mat-expansion-panel *ngFor="let con of concources; let i = index;">
    <mat-expansion-panel-header>
      <mat-panel-title>{{ con.com.name }}</mat-panel-title>
      <mat-panel-description>
        {{ con.con.name }}
      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-card>
      <p>{{ con.status }}</p>
      <p>Accepted: {{ con.acc }}</p>
      <p>Declined: {{ con.dec }}</p>
    </mat-card>

  </mat-expansion-panel>
</mat-accordion>
<mat-card *ngIf="concources === null || concources.length === 0">No applications found!</mat-card>
