<mat-card>Review your applicatin statuses!</mat-card>
<mat-card>

<mat-accordion *ngIf="concourses != null && concourses.length > 0">
  <mat-expansion-panel *ngFor="let con of concourses; let i = index;" (opened)="getConDetails(con)">
    <mat-expansion-panel-header>
      <mat-panel-title>{{ con.name }}</mat-panel-title>
      <mat-panel-description>
        {{ con.concluded ? 'Concluded' : 'Not concluded' }}
      </mat-panel-description>
    </mat-expansion-panel-header>

    <p *ngIf="concDetail != null && concDetail.concluded">Accepted:
      <span *ngFor="let stu of concDetail.applicants; let first = first;">
        <span *ngIf="stu.accepted">
          {{ first ? '' : ', ' }}
          <span [style.color]="student._id === stu.student._id ? 'green' : 'black'">
            {{ stu.student.stu.firstName + ' ' + stu.student.stu.lastName }}
          </span>
        </span>
      </span>
    </p>
    <p *ngIf="concDetail != null && concDetail.concluded">Declined:
      <span *ngFor="let stu of concDetail.applicants; let first = first;">
        <span *ngIf="!stu.accepted">
          {{ first ? '' : ', ' }}
          <span [style.color]="student._id === stu.student._id ? 'red' : 'black'">
            {{ stu.student.stu.firstName + ' ' + stu.student.stu.lastName }}
          </span>
        </span>
      </span>
    </p>

  </mat-expansion-panel>
</mat-accordion>
<mat-card *ngIf="concourses === null || concourses.length === 0">No applications found!</mat-card>
