<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    [ngClass]="{hidden: !(isHandset$ | async)}"
    fixedInViewport="false"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list *ngFor="let entry of navLists.leftList">
      <a [class.highlight-link]="entry.selected" mat-list-item routerLink="{{ entry.url }}">{{ entry.text }}</a>
    </mat-nav-list>
    <mat-nav-list *ngFor="let entry of navLists.rightList">
      <a [class.highlight-link]="entry.selected" mat-list-item routerLink="{{ entry.url }}">{{ entry.text }}</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span style="margin-right: 2rem">Job Fair Portal</span>
      <mat-nav-list class="noPadding" *ngFor="let entry of navLists.leftList">
        <a [class.highlight-link]="entry.selected"
          *ngIf="!(isHandset$ | async)"
          mat-list-item
          routerLink="{{ entry.url }}">{{ entry.text }}</a>
      </mat-nav-list>
      <span class="spacer"></span>
      <mat-nav-list class="noPadding" *ngFor="let entry of navLists.rightList">
        <a [class.highlight-link]="entry.selected"
          *ngIf="!(isHandset$ | async)"
          mat-list-item
          routerLink="{{ entry.url }}">{{ entry.text }}</a>
      </mat-nav-list>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
